body{
  width: 80vw;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 4px solid black; 
}

background{ 
 position: relative; 
 top: 0; 
 left: 0; 
 height: 33vh; 
 width: 100vw; 
 background-image:url(TNG.PNG); 
 background-position: center center; 
 z-index:-10; 
} 

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.0em;
}
