.header2{
    text-align: center;
    border: 5px solid black;
    width: 40%;
    position: relative;
    left: center;
    padding: 0 20px 0 20px;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    background: #fff
    text-align: center;
}
body{
  width: 90%;
  height: 50%;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  position: relative;
  top: 15%;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.0em;
}
