
.masthead{ 
 position: absolute; 
 top: 0; 
 left: 0; 
 height: 200px; 
 width: 100%; 
 background-image:url('../img/TNG.png'); 
 background-position: center center; 
 z-index:-10; 
} 

.header2{
  display: inline;
  background-color: white;
  padding: 3px;
  width: 50%;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 250;
  transform: translate(-50%, -0%);
  border: 3px solid black;
  font-size: 48px;
  text-align: center;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    background: #fff
    text-align: center;
}
body{
  width: 80vw;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
 
}
.container{
  position: relative;
  top: 15%;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.0em;
}
