<!DOCTYPE html>
<html>
  <head> 
	  <title>{{ page.title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>


<div class="container">

  {{ content }}

</div>
  <nav>
  <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/cv">CV</a></li>
  <li><a href="/research">Research</a></li>
	  <li><a href="/proj">Personal projects</a></li>
  </ul>

  </nav>
  
  <footer>
   <ul>
   <li><a href="mailto:tsfraser@uwaterloo.ca">Email</a></li>
   <li><a href="https://github.com/tsfraser">Github</a></li>
   <li><a href="https://twitter.com/TsfraserA">Twitter</a></li>
   <li><a href="https://linkedin.com/in/tristan-fraser-astro">LinkedIn</a></li>
   </ul>
  </footer>
  </body>

</html>
